In [2]:
import pandas as pd

In [3]:
df = pd.read_excel(r"C:\Users\pardis\Desktop\ProjectRetail\Online Retail.xlsx")
df.head(3)
df.shape

(541909, 8)

In [4]:
df = pd.read_excel(r"C:\Users\pardis\Desktop\ProjectRetail\Online Retail.xlsx")
df.head(3)
df.shape

(541909, 8)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [6]:
df = df.dropna(subset=["CustomerID"])

In [7]:
df = df[df["Quantity"] > 0]

In [8]:
df = df[df["UnitPrice"] > 0]

In [9]:
df["TotalPrice"] = df["Quantity"] * df["UnitPrice"]
df["InvoiceDate"] = pd.to_datetime(df["InvoiceDate"])
df["OrderDate"] = df["InvoiceDate"].dt.date
df["OrderMonth"] = df["InvoiceDate"].dt.to_period("M").astype(str)

In [10]:
df.describe()

,Quantity,InvoiceDate,UnitPrice,CustomerID,TotalPrice
count,397884.000000,397884,397884.000000,397884.000000,397884.000000
mean,12.988238,2011-07-10 23:41:23.511023360,3.116488,15294.423453,22.397000
min,1.000000,2010-12-01 08:26:00,0.001000,12346.000000,0.001000
25%,2.000000,2011-04-07 11:12:00,1.250000,13969.000000,4.680000
50%,6.000000,2011-07-31 14:39:00,1.950000,15159.000000,11.800000
75%,12.000000,2011-10-20 14:33:00,3.750000,16795.000000,19.800000
max,80995.000000,2011-12-09 12:50:00,8142.750000,18287.000000,168469.600000
std,179.331775,NaN,22.097877,1713.141560,309.071041

In [11]:
df.shape

(397884, 11)

In [12]:
df.to_csv(r"C:\Users\pardis\Desktop\ProjectRetail\cleaned_data.csv",index=False)